.divider,
.divider1,
.divider2,
.staysInBordeaux {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
}
.staysInBordeaux {
  line-height: 24px;
}
.divider,
.divider1,
.divider2 {
  height: 1px;
  border-top: 1px solid var(--gray-200);
  box-sizing: border-box;
}
.left {
  height: 652px;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-21xl) 67px;
  box-sizing: border-box;
  gap: 23.5px;
  min-width: 546px;
  max-width: 100%;
}
.mapIcon {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconButtonBase {
  width: 32px;
  height: 32px;
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-8xs);
  z-index: 1;
}
.icon1 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconButton,
.iconButtonBase1 {
  display: flex;
  flex-direction: row;
}
.iconButtonBase1 {
  height: 32px;
  width: 32px;
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-8xs);
}
.iconButton {
  align-items: flex-start;
  justify-content: flex-start;
}
.icon2 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconButtonBase2 {
  height: 32px;
  width: 32px;
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-8xs);
}
.iconButton1 {
  flex-direction: row;
  align-items: flex-start;
}
.actions,
.iconButton1,
.map {
  display: flex;
  justify-content: flex-start;
}
.actions {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xs);
  z-index: 1;
}
.map {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: 556px;
  max-width: 100%;
}
.checkbox,
.icon3 {
  border-radius: var(--br-9xs);
}
.icon3 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.checkbox {
  box-shadow: var(--shadow-base);
  background-color: var(--black);
  border: 1px solid var(--black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.label {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.checkboxToggle,
.checkboxToggleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkboxToggle {
  box-shadow: var(--shadow-md);
  border-radius: var(--br-5xs);
  background-color: var(--white);
  padding: var(--padding-xs);
  gap: var(--gap-5xs);
  z-index: 2;
}
.checkboxToggleWrapper {
  padding: 0 1px 0 var(--padding-11xs);
}
.icon4 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.icon4,
.icon5,
.text {
  position: relative;
}
.text {
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 32px;
  white-space: nowrap;
}
.icon5 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.button,
.buttonBase {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonBase {
  flex: 1;
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  padding: var(--padding-11xs) var(--padding-6xs);
  gap: var(--gap-9xs);
}
.button {
  width: 48px;
}
.icon6 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.icon6,
.icon7,
.text1 {
  position: relative;
}
.text1 {
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 34px;
  white-space: nowrap;
}
.icon7 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.buttonBase1 {
  flex: 1;
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-6xs);
  gap: var(--gap-9xs);
}
.button1,
.buttonBase1,
.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button1 {
  width: 50px;
  justify-content: flex-start;
}
.buttonWrapper {
  align-self: stretch;
  justify-content: flex-end;
}
.filterDropdownContainer {
  width: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon8 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.icon8,
.icon9,
.text2 {
  position: relative;
}
.text2 {
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 36px;
  white-space: nowrap;
}
.icon9 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.buttonBase2 {
  flex: 1;
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-6xs);
  gap: var(--gap-9xs);
}
.button2,
.buttonBase2,
.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button2 {
  flex: 1;
  justify-content: flex-start;
}
.buttonContainer {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-5xl) 0 0;
}
.icon10 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.icon10,
.icon11,
.text3 {
  position: relative;
}
.text3 {
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 35px;
  white-space: nowrap;
}
.icon11 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.button3,
.buttonBase3,
.filterOptions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonBase3 {
  flex: 1;
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  padding: var(--padding-11xs) var(--padding-6xs);
  gap: var(--gap-9xs);
}
.button3,
.filterOptions {
  width: 51px;
}
.filterOptions {
  width: 76px;
  flex-direction: column;
  align-items: flex-end;
}
.filterOptionsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 66px var(--padding-6xs);
}
.icon12 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.icon12,
.icon13,
.text4 {
  position: relative;
}
.text4 {
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 34px;
  white-space: nowrap;
}
.icon13 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.buttonBase4 {
  flex: 1;
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-6xs);
  gap: var(--gap-9xs);
}
.button4,
.buttonBase4,
.buttonFrame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button4 {
  flex: 1;
  justify-content: flex-start;
}
.buttonFrame {
  width: 54px;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.icon14 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.icon14,
.icon15,
.text5 {
  position: relative;
}
.text5 {
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 36px;
  white-space: nowrap;
}
.icon15 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.button5,
.buttonBase5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonBase5 {
  flex: 1;
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  padding: var(--padding-11xs) var(--padding-6xs);
  gap: var(--gap-9xs);
}
.button5 {
  width: 52px;
}
.icon16 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.icon16,
.icon17,
.text6 {
  position: relative;
}
.text6 {
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 36px;
  white-space: nowrap;
}
.icon17 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.button6,
.buttonBase6 {
  flex-direction: row;
  justify-content: flex-start;
}
.buttonBase6 {
  flex: 1;
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-11xs) var(--padding-6xs);
  gap: var(--gap-9xs);
}
.button6 {
  align-self: stretch;
}
.button6,
.buttonParent,
.frameDiv {
  display: flex;
  align-items: flex-start;
}
.frameDiv {
  width: 52px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.buttonParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.icon18 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.icon18,
.icon19,
.text7 {
  position: relative;
}
.text7 {
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 34px;
  white-space: nowrap;
}
.icon19 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.buttonBase7 {
  flex: 1;
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-11xs) var(--padding-6xs);
  gap: var(--gap-9xs);
}
.button7,
.buttonBase7,
.filterDropdown {
  display: flex;
  justify-content: flex-start;
}
.button7 {
  width: 50px;
  margin: 0 !important;
  position: absolute;
  top: -20px;
  left: 25px;
  flex-direction: row;
  align-items: flex-start;
  z-index: 1;
}
.filterDropdown {
  width: 137px;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
.filterDropdownContainerParent,
.filterDropdownWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.filterDropdownContainerParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}
.icon20 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.icon20,
.icon21,
.text8 {
  position: relative;
}
.text8 {
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 27px;
  white-space: nowrap;
}
.icon21 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.buttonBase8 {
  flex: 1;
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  padding: var(--padding-11xs) var(--padding-6xs);
  gap: var(--gap-9xs);
}
.button8,
.buttonBase8,
.buttonWrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button8 {
  flex: 1;
}
.buttonWrapper1 {
  width: 85px;
  padding: 0 var(--padding-2xl);
  box-sizing: border-box;
}
.icon22 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.icon22,
.icon23,
.text9 {
  position: relative;
}
.text9 {
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 36px;
  white-space: nowrap;
}
.icon23 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.button9,
.buttonBase9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonBase9 {
  flex: 1;
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  padding: var(--padding-11xs) var(--padding-6xs);
  gap: var(--gap-9xs);
}
.button9 {
  width: 52px;
}
.icon24 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.icon24,
.icon25,
.text10 {
  position: relative;
}
.text10 {
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 36px;
  white-space: nowrap;
}
.icon25 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.buttonBase10 {
  flex: 1;
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-6xs);
  gap: var(--gap-9xs);
}
.button10,
.buttonBase10,
.buttonWrapper2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button10 {
  align-self: stretch;
  flex-direction: row;
}
.buttonWrapper2 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-2xl) 0 0;
}
.icon26 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.icon26,
.icon27,
.text11 {
  position: relative;
}
.text11 {
  line-height: 20px;
  font-weight: 500;
  display: inline-block;
  min-width: 33px;
  white-space: nowrap;
}
.icon27 {
  height: 20px;
  width: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 20px;
}
.buttonBase11 {
  box-shadow: var(--shadow-base);
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  padding: var(--padding-11xs) var(--padding-6xs);
  gap: var(--gap-9xs);
}
.button11,
.buttonBase11,
.filterDropdownSecondItemCo {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.filterDropdownSecondItemCo {
  gap: var(--gap-2xl);
}
.filterDropdownSecondItemCoWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-5xs);
}
.filterDropdownSecondItemCoWrapper,
.frameParent,
.listingsInner {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 13.5px;
}
.listingsInner {
  width: 136px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 3px;
  box-sizing: border-box;
}
.example,
.listings,
.mapParent {
  display: flex;
  justify-content: flex-start;
}
.listings {
  width: 217px;
  flex-direction: column;
  align-items: flex-end;
  gap: 73px;
  z-index: 2;
  text-align: center;
}
.example,
.mapParent {
  max-width: 100%;
  align-items: flex-start;
}
.mapParent {
  flex-direction: column;
  padding: var(--padding-5xl) 186px 161px;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-2xl);
  min-width: 600px;
  font-size: var(--text-sm-regular-size);
  color: var(--gray-700);
}
.example {
  width: 1440px;
  background-color: var(--white);
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  row-gap: 20px;
  text-align: left;
  font-size: var(--text-base-medium-size);
  color: var(--gray-500);
  font-family: var(--text-sm-regular);
}
@media screen and (max-width: 1125px) {
  .checkboxToggle,
  .mapParent {
    flex: 1;
  }
  .example {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .left,
  .mapParent {
    box-sizing: border-box;
    min-width: 100%;
  }
  .left {
    height: auto;
    padding-top: 26px;
    padding-bottom: 44px;
  }
  .mapParent {
    padding: var(--padding-xl) 93px 105px;
  }
}
@media screen and (max-width: 450px) {
  .mapParent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
