.blogCardIcon {
  align-self: stretch;
  height: 302px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.checkOutThe,
.followTheTeams {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
}
.checkOutThe {
  margin: 0;
  font-size: inherit;
  line-height: 29px;
  font-weight: 600;
  font-family: inherit;
  white-space: pre-wrap;
}
.followTheTeams {
  font-size: var(--font-size-sm);
  font-family: var(--font-open-sans);
  z-index: 1;
  margin-top: -2px;
}
.blogTitle {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameChild {
  align-self: stretch;
  width: 193px;
  position: relative;
  border-radius: var(--br-980xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  display: none;
}
.readMore {
  height: 55px;
  flex: 1;
  position: relative;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.blogLinks,
.rectangleParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rectangleParent {
  width: 193px;
  border-radius: var(--br-980xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-silver);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: 0 var(--padding-xs) 0 var(--padding-smi);
  white-space: nowrap;
}
.blogLinks {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-6xl) 0 var(--padding-xl);
  font-size: var(--font-size-lg);
}
.blogCard,
.blogInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.blogInfo {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-19xl);
}
.blogCard {
  align-items: flex-end;
  gap: var(--gap-5xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 450px) {
  .checkOutThe {
    font-size: var(--font-size-lgi);
    line-height: 22px;
  }
  .blogInfo {
    gap: var(--gap-lgi);
  }
}
