.whereToNext {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 4;
}
.destinationTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frameChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frameItem,
.singapore {
  height: 35px;
  position: relative;
}
.frameItem {
  width: 149.3px;
  background-color: var(--color-snow);
  display: none;
}
.singapore {
  margin: 0;
  width: 141.8px;
  font-size: inherit;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.rectangleParent {
  width: 149.3px;
  background-color: var(--color-snow);
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  z-index: 1;
}
.destinationItem,
.frameParent,
.rectangleParent {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-25xl-8) 0 var(--padding-26xl);
  position: relative;
}
.destinationItem {
  height: 334.9px;
  width: 321.3px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xl-7);
  box-sizing: border-box;
  max-width: 100%;
}
.viewAll {
  text-decoration: none;
  position: relative;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
  color: inherit;
  display: inline-block;
  min-width: 62.3px;
  flex-shrink: 0;
}
.viewAllIcon1 {
  position: absolute;
  top: 2.5px;
  left: 3.5px;
  border-radius: 50%;
  background-color: var(--color-orangered);
  width: 27px;
  height: 27px;
  z-index: 1;
}
.div {
  height: 33px;
  flex: 1;
  position: relative;
  line-height: 28px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 2;
}
.parent,
.travelCategory {
  position: absolute;
  display: flex;
}
.travelCategory {
  height: 38px;
  width: 1331.8px;
  margin: 0 !important;
  top: -26.2px;
  left: -1297px;
  font-size: var(--font-size-lg);
  line-height: 28px;
  text-transform: capitalize;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 3;
}
.parent {
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}
.viewAllIcon {
  height: 33px;
  width: 33.8px;
  position: relative;
  flex-shrink: 0;
  margin-left: -6px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-abeezee);
}
.viewAllLabel {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
}
.frameInner {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.kualaLumpur,
.rectangleDiv {
  height: 35px;
  position: relative;
}
.rectangleDiv {
  width: 149.3px;
  background-color: var(--color-snow);
  display: none;
}
.kualaLumpur {
  margin: 0;
  width: 141.8px;
  font-size: inherit;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.destinationCity,
.frameGroup,
.rectangleGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
}
.rectangleGroup {
  width: 149.3px;
  background-color: var(--color-snow);
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  white-space: nowrap;
  z-index: 1;
}
.destinationCity,
.frameGroup {
  align-self: stretch;
  flex: 1;
  max-width: 100%;
}
.frameGroup {
  justify-content: flex-start;
  padding: var(--padding-25xl-8) 0 var(--padding-26xl);
  position: relative;
  flex-shrink: 0;
}
.destinationCity {
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 0;
  text-align: center;
  font-size: var(--font-size-lgi);
  color: var(--color-gray-400);
}
.destinationFooter,
.viewAllButton {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.viewAllButton {
  align-self: stretch;
  height: 364.3px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-6xl-1);
}
.destinationFooter {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xl-7);
  box-sizing: border-box;
  min-width: 211px;
}
.destinationItem1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-base-5);
  min-width: 430px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-orangered);
}
.destinationList,
.destinationTitleParent {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.destinationList {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-smi-2);
  font-size: var(--font-size-lgi);
  color: var(--color-gray-400);
}
.destinationTitleParent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xl-2);
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 750px) {
  .destinationItem1 {
    flex-wrap: wrap;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .whereToNext {
    font-size: var(--font-size-3xl);
    line-height: 22px;
  }
}
