.frameChild {
  height: 40.6px;
  width: 289.7px;
  position: relative;
  box-shadow: 2px 1px 6px 2px rgba(89, 85, 85, 0.1);
  border-radius: var(--br-980xl);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: none;
}
.div {
  align-self: stretch;
  height: 27px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.wrapper {
  width: 28.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-3) 0 0;
  box-sizing: border-box;
}
.searchDestinationsOr {
  margin-left: -0.3px;
  align-self: stretch;
  height: 38.1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 1;
}
.searchDestinationsOrActivitWrapper {
  flex: 1;
  flex-direction: column;
  padding: 0;
  color: var(--color-darkgray-100);
  font-family: var(--font-open-sans);
}
.rectangleParent,
.searchDestinationsOrActivitWrapper,
.searchInput {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangleParent {
  width: 289.7px;
  box-shadow: 2px 1px 6px 2px rgba(89, 85, 85, 0.1);
  border-radius: var(--br-980xl);
  background-color: var(--color-white);
  border: 0.5px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  flex-direction: row;
  padding: 0 var(--padding-xs) 0 var(--padding-mid);
  z-index: 1;
}
.searchInput {
  width: 547.2px;
  flex-direction: column;
  max-width: 100%;
}
.onYourTrip,
.saveUpto {
  font-family: var(--font-open-sans);
}
.monsoonSaleSaveContainer1 {
  width: 100%;
}
.monsoonSaleSaveContainer {
  width: 334px;
  height: 35.7px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  max-width: 100%;
}
.saleBanner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-3) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.userChild {
  width: 24px;
  height: 16px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-3) 0 0;
}
.div1,
.inr {
  position: relative;
}
.inr {
  text-decoration: none;
  flex: 1;
  color: inherit;
}
.div1 {
  width: 25.5px;
  font-family: var(--font-abeezee);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -4px;
}
.currencyDropdown {
  align-self: stretch;
  flex-direction: row;
}
.currency,
.currencyDropdown,
.search,
.searchBar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.currency {
  width: 69.5px;
  flex-direction: column;
  padding: var(--padding-3xs-3) 0 0;
  box-sizing: border-box;
  color: var(--color-gray-200);
  font-family: var(--font-open-sans);
}
.search,
.searchBar {
  flex-direction: row;
  max-width: 100%;
}
.searchBar {
  flex: 1;
}
.search {
  align-self: stretch;
  padding: 0 var(--padding-42xl) 0 var(--padding-37xl);
  box-sizing: border-box;
}
.contentBackground,
.image1Icon {
  align-self: stretch;
  position: relative;
}
.contentBackground {
  height: 1px;
  background-color: var(--color-lavenderblush);
}
.image1Icon {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.exploreImage {
  align-self: stretch;
  width: 130.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs) 0 0;
  box-sizing: border-box;
}
.span {
  color: var(--color-darkgray-300);
}
.exploreDestinations1 {
  font-family: var(--font-open-sans);
  color: var(--color-black);
}
.exploreDestinations {
  align-self: stretch;
  height: 23.5px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.exploreButton {
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.allCategories {
  width: 105.5px;
  position: relative;
  font-family: var(--font-open-sans);
  color: var(--color-dimgray-300);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.attractionTickets {
  flex: 1;
  white-space: nowrap;
}
.attractionTickets,
.hotels,
.transport {
  height: 23.5px;
  position: relative;
  display: flex;
  align-items: center;
}
.hotels {
  width: 52.5px;
  flex-shrink: 0;
}
.transport {
  min-width: 75.4px;
}
.categoryList {
  margin: 0;
  flex: 1;
  flex-direction: row;
  gap: var(--gap-6xl-6);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-300);
  font-family: var(--font-open-sans);
}
.categories,
.categoryList,
.exploreOptions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.categories {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
}
.exploreOptions {
  width: 623.5px;
  flex-direction: column;
  padding: var(--padding-lg-3) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.frameItem {
  height: 41.1px;
  width: 111px;
  position: relative;
  border-radius: var(--br-980xl);
  background-color: var(--color-orangered);
  display: none;
}
.span1 {
  font-family: var(--font-abeezee);
}
.login2 {
  font-family: var(--font-poppins);
}
.login1 {
  height: 41.1px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 1;
}
.rectangleGroup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orangered);
  align-self: stretch;
  border-radius: var(--br-980xl);
  flex-direction: row;
  justify-content: flex-start;
  white-space: nowrap;
}
.rectangleGroup:hover {
  background-color: var(--color-tomato-100);
}
.explore,
.login,
.rectangleGroup {
  display: flex;
  align-items: flex-start;
}
.login {
  width: 111px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-3xs-5) 0 0;
  box-sizing: border-box;
}
.explore {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.content,
.main,
.navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.main {
  width: 1429px;
  flex: 1;
  flex-direction: row;
  padding: 0 var(--padding-35xl);
  box-sizing: border-box;
  max-width: 100%;
}
.content,
.navigation {
  align-self: stretch;
  flex-direction: column;
}
.content {
  height: 65.9px;
  gap: var(--gap-8xs-7);
  max-width: 101%;
  flex-shrink: 0;
  text-align: left;
  color: var(--color-dimgray-100);
}
.navigation {
  padding: 0 0 var(--padding-144xl-1);
  box-sizing: border-box;
  gap: var(--gap-3xl-8);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
  font-family: var(--font-abeezee);
}
@media screen and (max-width: 750px) {
  .main,
  .search {
    padding-left: var(--padding-9xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .main {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
  }
}
